<section class="content-header">
	<h1> Edit Data <small>Edit Our Advantage</small></h1>
	<ol class="breadcrumb">
		<li>
			<a><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li>
			<%= link_to 'Our Advantages', recent_projects_path %>
		</li>
		<li class="active">
			<%= link_to 'Edit Our Advantage', edit_recent_project_path(@our_advantage) %>
		</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="example-modal">
			<div class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Editing Our Advantage</h4>
						</div>
						<%= render 'form' %>
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div><!-- /.example-modal -->
		</div>
</section>

