<% content_for(:title, 'Business Modelling')%>
<header>
	<div class="headtop">
		<div class="container">
			<h1 class="brand"><a href="<%= root_path %>" tppabs="http://livedemo00.template-help.com/wt_44757/index.html"><img alt="Stream" src=" ../assets/logo.png" tppabs="http://livedemo00.template-help.com/wt_44757/img/logo.png"></a></h1>
			<div class="headphone">
				<span class="admin_login_link"><%= link_to 'Login', new_user_session_path %></span>&nbsp; | &nbsp;Call us:<strong>+234-806-066-6033</strong>
			</div>
		</div>
	</div>
	<div class="headmain">
		<div class="container">
			<div class="clearfix">
				<div class="navbar navbar_ clearfix extra">
					<div class="nav-collapse nav-collapse_  collapse">
						<ul class="nav sf-menu">
							<li>
								<a href="<%= root_path %>" tppabs="http://livedemo00.template-help.com/wt_44757/index.html">Home<span></span></a>
							</li>
							<li>
								<a href="/about_us/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-1.html">about us<span></span></a>
							</li>
							<li class="active">
								<a href="/services/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-2.html">services<span></span></a>
								<ul>
									<li>
										<a href="/services/overview">Overview</a>
									</li>
									<li>
										<a href="/services/business_plans">Business Plans</a>
									</li>
									<li>
										<a href="/services/entrepreneurship">Entrepreneurship</a>
									</li>
									<li>
										<a href="/services/project_management">Project management</a>
									</li>
									<li>
										<a href="/services/engineering_designs">Engineering designs</a>
									</li>
									<li>
										<a href="/services/financial_management">Financial management</a>
									</li>
									<li>
										<a href="/services/solar_energy_consulting">Solar energy services</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/offered_solutions/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-3.html">solutions<span></span></a>
							</li>
							<li>
								<a href="/contact_us/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-4.html">contacts<span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!--============================== content =================================-->
<div id="content">
	<!--============row-1==========-->
	<div class="row_5">
		<div class="container">
			<div class="row">
				<div class="span4">
					<ul class="thumbnails2 clearfix row">
						<li class="span4">
							<div class="thumbnail services maxheight2">
								<img src="../assets/business2.jpeg" tppabs="http://livedemo00.template-help.com/wt_44757/img/page3_img1.jpg" alt="">
								<div class="caption maxheight">
									<h4><a>Our Business Models</a>
									<br>
									</h4>
									<p>
										We prepare a robust set of forecasts for investment, operational and regulatory compliance.
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="span8 solutions">
					<h2>Business Modeling & Intelligence</h2>
					<h4></h4>
					<p>
						We developed customized models, analysis, financial model assurance and remediation assurance to assist our client in addressing internal decisions and external stakeholder requirements.
						We also prepare a robust set of forecasts for investment, operational and regulatory compliance.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>