<% content_for(:title, 'Entrepreneurship Development')%>
<header>
	<div class="headtop">
		<div class="container">
			<h1 class="brand"><a href="<%= root_path %>" tppabs="http://livedemo00.template-help.com/wt_44757/index.html"><img alt="Stream" src=" ../assets/logo.png" tppabs="http://livedemo00.template-help.com/wt_44757/img/logo.png"></a></h1>
			<div class="headphone">
				<span class="admin_login_link"><%= link_to 'Login', new_user_session_path %></span>&nbsp; | &nbsp;Call us:<strong>+234-806-066-6033</strong>
			</div>
		</div>
	</div>
	<div class="headmain">
		<div class="container">
			<div class="clearfix">
				<div class="navbar navbar_ clearfix extra">
					<div class="nav-collapse nav-collapse_  collapse">
						<ul class="nav sf-menu">
							<li>
								<a href="<%= root_path %>" tppabs="http://livedemo00.template-help.com/wt_44757/index.html">Home<span></span></a>
							</li>
							<li>
								<a href="/about_us/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-1.html">about us<span></span></a>
							</li>
							<li class="active">
								<a href="/services/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-2.html">services<span></span></a>
								<ul>
									<li>
										<a href="/services/overview">Overview</a>
									</li>
									<li>
										<a href="/services/business_plans">Business Plans</a>
									</li>
									<li>
										<a href="/services/entrepreneurship">Entrepreneurship</a>
									</li>
									<li>
										<a href="/services/project_management">Project management</a>
									</li>
									<li>
										<a href="/services/engineering_designs">Engineering designs</a>
									</li>
									<li>
										<a href="/services/financial_management">Financial management</a>
									</li>
									<li>
										<a href="/services/solar_energy_consulting">Solar energy services</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/offered_solutions/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-3.html">solutions<span></span></a>
							</li>
							<li>
								<a href="/contact_us/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-4.html">contacts<span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!--============================== content =================================-->
<div id="content">
	<!--============row-1==========-->
	<div class="row_5">
		<div class="container">
			<div class="row">
				<div class="span4">
					<ul class="thumbnails2 clearfix row">
						<li class="span4">
							<div class="thumbnail services maxheight2">
								<img src="../assets/entre1.jpg" tppabs="http://livedemo00.template-help.com/wt_44757/img/page3_img1.jpg" alt="">
								<div class="caption maxheight">
									<h4><a>How We Grow Entrepreneurs</a>
									<br>
									</h4>
									<p>
										We develop and enhance the entrepreneurial and vocational skills of both employed and unemployed. 
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="span8 solutions">
					<h2>Entrepreneurship Development</h2>
					<h4>We develop and enhance the entrepreneurial and vocational skills of both employed and unemployed. </h4>
					<p>
						<b>The business plan has four major elements namely:</b>
						<br>
						What is the venture?,
						<br>
						What is marketing prospective?,
						<br>
						What is the investor view point?
						<br>
						Socio-Economic Issues?
					</p>
					<hr>
					<div class="row">
						<ul class="list-serv">
							<li class="span4">
								<div class="badge_2 badge"></div>
								<div class="overflow">
									<h4><a style="text-decoration: underline;">GENERAL QUESTIONS AND FACTORS.</a></h4>
									<p>
										<b>General questions that occur are: </b>
										<br />
										&nbsp;&nbsp;--Is this good business? 
										<br>
										&nbsp;&nbsp;--Will it succeed?
										<br>
										&nbsp;&nbsp;--Who are the customers?
										<br>
										&nbsp;&nbsp;--How the competition is met? 
										<br>
										&nbsp;&nbsp;--How the funds are made available? 
										<br>
										&nbsp;&nbsp;--How the business will be managed? 
										<br>
										&nbsp;&nbsp;--Area of passion and Interest?
										<br>
										&nbsp;&nbsp;--What risks are involved?
										<br>
										&nbsp;&nbsp;--Sustainability and attractiveness of the business?
									</p>
								</div>
							</li>
							<li class="span4">
								<div class="badge_2 badge"></div>
								<div class="overflow">
									<h4><a style="text-decoration: underline;">IMPORTANCE OF BUSINESS PLANS</a></h4>
									<p>
										<b>The business plan helps entrepreneur to define and understand the following:</b>
										<br />
										&nbsp;&nbsp;--Vision and scope of proposed ventures
										<br>
										&nbsp;&nbsp;--Viability of the venture in a designated market &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;segment
										<br>
										&nbsp;&nbsp;--Guidance to entrepreneurs and his teams 
										<br>
										&nbsp;&nbsp;--Educate all stakeholders
										<br>
										&nbsp;&nbsp;--Access to finance and funds 
									</p>
								</div>
							</li>
							<li class="span4">
								<div class="badge_2 badge"></div>
								<div class="overflow">
									<h4><a style="text-decoration: underline;">HOW TO GET IDEAS</a></h4>
									<p>
										&nbsp;&nbsp;--Consult with those who are currently in the business
										<br>
										&nbsp;&nbsp;--Observe other enterprises
										<br>
										&nbsp;&nbsp;--Do discussion with close associate 
										<br>
										&nbsp;&nbsp;--Get ideas from the existing products in the market
										<br>
										&nbsp;&nbsp;--Reading of books
										<br>
										&nbsp;&nbsp;--Do visit exhibitions
										<br>
										&nbsp;&nbsp;--Experience from previous works 
										<br>
										&nbsp;&nbsp;--Tourism and Travelling
										<br>
										&nbsp;&nbsp;--Self-motivation and Inspiration
									</p>
								</div>
							</li>
							<li class="span4">
								<div class="badge_2 badge"></div>
								<div class="overflow">
									<h4><a style="text-decoration: underline;">CRITICAL ISSUES FOR INDUSTRIAL ANALYSIS</a></h4>
									<p>
										&nbsp;&nbsp;--Trends in anticipating growth
										<br>
										&nbsp;&nbsp;--Estimation and data collection of economic, legal, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;political and technological trends
										<br>
										&nbsp;&nbsp;--How many firm have enter the industry in the past &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;years
										<br>
										&nbsp;&nbsp;--Total Industry Sales
										<br>
										&nbsp;&nbsp;--What new products have recently been introduce into &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the market
										<br>
										&nbsp;&nbsp;--Who are the nearest competitors
										<br>
										&nbsp;&nbsp;--How will the business operation be better
										<br>
										&nbsp;&nbsp;--How are the sales of competitors growing, declining &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or failing
										<br>
										&nbsp;&nbsp;--The strength and weakness of all competitors
										<br>
										&nbsp;&nbsp;--Check the profile of each customer
										<br>
										&nbsp;&nbsp;--Check how the profile of customers different from &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;competitors
									</p>
								</div>
							</li>
							<li class="span4">
								<div class="badge_2 badge"></div>
								<div class="overflow">
									<h4><a style="text-decoration: underline;">HOW TO DESCRIPE THE VENTURES</a></h4>
									<p>
										&nbsp;&nbsp;--Define the mission of the new business
										<br>
										&nbsp;&nbsp;--What are the reasons for going into business
										<br>
										&nbsp;&nbsp;--Why will you be successful in the business?
										<br>
										&nbsp;&nbsp;--What developmental work has been completed?
										<br>
										&nbsp;&nbsp;--What are your products and/or Services?
										<br>
										&nbsp;&nbsp;--Description of products and or/Services
										<br>
										&nbsp;&nbsp;--The location of the business and reasons from &nbsp;&nbsp;&nbsp;&nbsp;location
										<br>
										&nbsp;&nbsp;--Why is the Location good for the business?
										<br>
										&nbsp;&nbsp;--What are office equipment will be needed
										<br>
										&nbsp;&nbsp;--Why the equipment should be purchased or leased
										<br>
										&nbsp;&nbsp;--What experience do you have to successfully &nbsp;&nbsp;&nbsp;&nbsp;implement the business plan.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>