<section class="content-header">
	<h1> Edit Data <small>Edit Entrepreneurship Programme</small></h1>
	<ol class="breadcrumb">
		<li>
			<a><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li>
			<%= link_to 'Entrepreneurship Programmes', entrepreneur_programs_path %>
		</li>
		<li class="active">
			<%= link_to 'Edit Entrepreneurship Programme', edit_entrepreneur_program_path(@entrepreneur_program) %>
		</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="example-modal">
			<div class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Editing Entrepreneurship Programme</h4>
						</div>
						<%= render 'form' %>
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div><!-- /.example-modal -->
		</div>
</section>

