<header>
	<div class="headtop">
		<div class="container">
			<h1 class="brand"><a href="<%= root_path %>" tppabs="http://livedemo00.template-help.com/wt_44757/index.html"><img alt="Stream" src=" ../assets/logo.png" tppabs="http://livedemo00.template-help.com/wt_44757/img/logo.png"></a></h1>
			<div class="headphone">
				<span class="admin_login_link"><%= link_to 'Login', new_user_session_path %></span>&nbsp; | &nbsp;Call us:<strong>+234-xxx-xxx-xxxx</strong>
			</div>
		</div>
	</div>
	<div class="headmain">
		<div class="container">
			<div class="clearfix">
				<div class="navbar navbar_ clearfix extra">
					<div class="nav-collapse nav-collapse_  collapse">
						<ul class="nav sf-menu">
							<li>
								<a href="<%= root_path %>" tppabs="http://livedemo00.template-help.com/wt_44757/index.html">Home<span></span></a>
							</li>
							<li class="active">
								<a href="/about_us/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-1.html">about us<span></span></a>
							</li>
							<li>
								<a href="/services/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-2.html">services<span></span></a>
								<ul>
									<li>
										<a href="/services/overview">Overview</a>
									</li>
									<li>
										<a href="/services/business_plans">Business Plans</a>
									</li>

									<li>
										<a href="/services/entrepreneurship">Entrepreneurship</a>
									</li>
									<li>
										<a href="/services/project_management">Project management</a>
									</li>
									<li>
										<a href="/services/engineering_designs">Engineering designs</a>
									</li>
									<li>
										<a href="/services/financial_management">Financial management</a>
									</li>
									<li>
										<a href="/services/solar_energy_consulting">Solar energy services</a>
									</li>

								</ul>
							</li>
							<li>
								<a href="/offered_solutions/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-3.html">solutions<span></span></a>
							</li>
							<li>
								<a href="/contact_us/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-4.html">contacts<span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!--============================== content =================================-->
<div id="content">
	<!--============row-1==========-->
	<div class="row_5">
		<div class="container">
			<div class="row">
				<div class="span4">
					<h2>Who We Are</h2>
					<ul class="list-about">
						<li>
							<div class="overflow">
								<h4>ME Consulting Professionals and Engineering services limited is an indigenous company associated with  Business planning and modeling, Project management, Engineering design, Entrepreneurship development, business development support, financial management.</h4>
							</div>
						</li>
						<li>
							<div class="overflow">
								<h4>Me consulting professionals and services limited do the following:</h4>
								<p>
									&nbsp;
								</p>
								<ul>
									<li>
										<p>
											-- Collaborate with our clients.
										</p>
										<p>
											-- Create a culture of accountability.
										</p>
										<p>
											-- Find new opportunities to serve clients.
										</p>
										<p>
											-- Improve and grow our organization.
										</p>
										<p>
											-- Act with integrity and present a positive, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;professional image.
										</p>
										<p>
											-- Serve our communities and advance our industry.
										</p>
										<p>
											-- Create and maintain safe work environments.
										</p>
										<p>
											-- Solve complex challenges and build solutions.
										</p>
										<p>
											-- Strengthen client relationships and add value.
										</p>
										<p>
											-- Celebrate our success.
										</p>
									</li>
								</ul>

							</div>
						</li>
					</ul>
					<h2>Our Advantages</h2>
					<ul class="list2 clearfix">
						<li>
							Clients experience a culture that is customer-oriented, accountable, and professional.
						</li>
						<li>
							Our Experience
						</li>
						<li>
							Our multi-disciplinary skill
						</li>
						<li>
							Our human reserves
						</li>
						<li>
							Our tools and solution methodologies
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="span8">
						<h2>A Few Words About Us</h2>
						<h4>ME Consulting Professionals and Engineering services limited is an indigenous company associated with  Business planning, Project management, Engineering design, Entrepreneurship development, business development support, financial management.</h4>
						<p class="color2">
							The company has pools of experience personnel with vast understanding  in Business Planning, Project Management,  Business modeling and management, Entrepreneurship development and training, Oil and Gas, Engineering design, Solar  Energy systems, Captive power,
							Feasibility studies, Investment planning, advisory Services, Financial Service, Auditing, Occupational, Health and Safety consultancy etc.
						</p>
					</div>
					<div class="row">
						<div class="span8">
							<h2 class="projects">Our last projects</h2>
							<ul class="thumbnails list-team clearfix">
								<li>
									<div class="thumbnail thumbnail-1">
										<figure class="img-polaroid"><img  src="../assets/page2_img1.jpg" tppabs="http://livedemo00.template-help.com/wt_44757/img/page2_img1.jpg" alt="">
										</figure>
										<section class="maxheight2">
											<h3><a href="#">seren amet port haalelus</a></h3>
											<p>
												Praesent vestibulum aenean nonummy hendrerit mauris. Hasellus.
											</p>
										</section>
									</div>
								</li>
								<li>
									<div class="thumbnail thumbnail-1">
										<figure class="img-polaroid"><img  src="../assets/page2_img2.jpg" tppabs="http://livedemo00.template-help.com/wt_44757/img/page2_img2.jpg" alt="">
										</figure>
										<section class="maxheight2">
											<h3><a href="#">seren amet port haalelus</a></h3>
											<p>
												Praesent vestibulum aenean nonummy hendrerit mauris. Hasellus.
											</p>
										</section>
									</div>
								</li>
								<li>
									<div class="thumbnail thumbnail-1">
										<figure class="img-polaroid"><img  src="../assets/page2_img3.jpg" tppabs="http://livedemo00.template-help.com/wt_44757/img/page2_img3.jpg" alt="">
										</figure>
										<section class="maxheight2">
											<h3><a href="#">seren amet port haalelus</a></h3>
											<p>
												Praesent vestibulum aenean nonummy hendrerit mauris. Hasellus.
											</p>
										</section>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>