<header>
	<div class="headtop">
		<div class="container">
			<h1 class="brand"><a href="<%= root_path %>" tppabs="http://livedemo00.template-help.com/wt_44757/index.html"><img alt="Stream" src=" ../assets/logo.png" tppabs="http://livedemo00.template-help.com/wt_44757/img/logo.png"></a></h1>
			<div class="headphone">
				<span class="admin_login_link"><%= link_to 'Login', new_user_session_path %></span>&nbsp; | &nbsp;Call us:<strong>+234-806-066-6033</strong>
			</div>
		</div>
	</div>
	<div class="headmain">
		<div class="container">
			<div class="clearfix">
				<div class="navbar navbar_ clearfix extra">
					<div class="nav-collapse nav-collapse_  collapse">
						<ul class="nav sf-menu">
							<li class="active">
								<a href="<%= root_path %>" tppabs="http://livedemo00.template-help.com/wt_44757/index.html">Home<span></span></a>
							</li>
							<li>
								<a href="/about_us/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-1.html">about us<span></span></a>
							</li>
							<li>
								<a href="/services/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-2.html">services<span></span></a>
								<ul>
									<li>
										<a href="/services/overview">Overview</a>
									</li>
									<li>
										<a href="/services/business_plans">Business Plans</a>
									</li>
									<li>
										<a>Implementation</a>
										<ul>
											<li>
												<a href="/services/entrepreneurship">Entrepreneurship</a>
											</li>
											<li>
												<a href="/services/project_management">Project management</a>
											</li>
											<li>
												<a href="/services/engineering_designs">Engineering designs</a>
											</li>
											<li>
												<a href="/services/financial_management">Financial management</a>
											</li>
											<li>
												<a href="/services/solar_energy_consulting">Solar energy services</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="/offered_solutions/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-3.html">solutions<span></span></a>
							</li>
							<li>
								<a href="/contact_us/index" tppabs="http://livedemo00.template-help.com/wt_44757/index-4.html">contacts<span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--============================== content =================================-->
<div id="content">
	<!--============row-1==========-->
	<div class="row_6">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h2>contact us</h2>
					<div class="map">
						<iframe src="../../maps.google.com/fi000001.025663&z=14&iwloc=a&output=embed" tppabs="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Brooklyn,+New+York,+NY,+United+States&aq=0&sll=37.0625,-95.677068&sspn=61.282355,146.513672&ie=UTF8&hq=&hnear=Brooklyn,+Kings,+New+York&ll=40.649974,-73.950005&spn=0.01628,0.025663&z=14&iwloc=A&output=embed"></iframe>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4 address">
					<h2 class="padding_top1">address</h2>
					<address>
						<div class="info">
							<span>8901 Marmora Road,
								<br>
								Glasgow, D04 89GR.</span>
							<p>
								<span>Freephone:</span>+1 800 559 6580
							</p>
							<p>
								<span>Telephone:</span>+1 959 603 6035
							</p>
							<p>
								<span>FAX:</span>+1 504 889 9898
							</p>
							<p>
								E-mail: <a href="mailto:#">mail@demolink.org</a>
							</p>
						</div>
					</address>
					<address>
						<div class="info">
							<span>9863 - 9867 Mill Road,
								<br>
								Cambridge, MG09 99HT.</span>
							<p>
								<span>Freephone:</span>+1 800 559 6580
							</p>
							<p>
								<span>Telephone:</span>+1 800 559 6580
							</p>
							<p>
								<span>FAX:</span>+1 800 889 9898
							</p>
							<p>
								E-mail: <a href="mailto:#">mail@demolink.org</a>
							</p>
						</div>
					</address>
				</div>
				<div class="span8 address">
					<h2 class="padding_top1">contact form</h2>
					<form id="contact-form" class="contact-form">
						<div class="success">
							Contact form submitted! <strong>We will be in touch soon.</strong>
						</div>
						<fieldset>
							<div class="coll-1">
								<div class="txt-form">
									Name<span>*</span>
								</div>
								<label class="name">
									<input type="text" value="Name*:">
									<br>
									<span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> </label>
							</div>
							<div class="coll-2">
								<div class="txt-form">
									Email<span>*:</span>
								</div>
								<label class="email">
									<input type="email" value="E-mail*:">
									<br>
									<span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span> </label>
							</div>
							<div class="coll-3">
								<div class="txt-form">
									phone:
								</div>
								<label class="phone notRequired">
									<input type="tel" value="Phone:">
									<br>
									<span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span> </label>
							</div>
							<div class="clear"></div>
							<div>
								<div class="txt-form">
									Comment<span>*</span>
								</div>
								<label class="message"> 									<textarea>Message*:</textarea>
									<br>
									<span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span> </label>
							</div>
							<div class="clear"></div>
							<div class="buttons-wrapper clearfix">
								<a href="#" class="btn btn-link link1" data-type="submit">Submit</a><span>*Required fields</span>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>