@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,700,400,300);

/*------ template stylization ------*/
.clear {
	clear: both;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	height: 0;
	width: 100%;
}
.color2 {
	color: #cc9484;
}
.row_1 {
	padding: 25px 0 25px;
	background: #d4623f;
}
.row_2 {
	padding: 29px 0 31px;
	background: #ff9d4d;
}
.row_3 {
	padding: 25px 0 20px;
	background: #ffdcbf;
}
.row_4 {
	padding: 27px 0 20px;
	background: #ffe7d2;
}
.row_5 {
	padding: 36px 0 30px;
	background: #ffe7d2;
}
.row_6 {
	padding: 36px 0 50px;
	background: #ffe7d2;
}
.row_7 {
	padding: 90px 0 50px;
	background: #ffe7d2;
}
/*------headings texts links---------*/
h2 {
	margin: 0;
	letter-spacing: 1px;
	padding: 18px 0 20px;
	color: #b53e2e;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 32px;
	font-weight: 800;
}
h3 {
	margin: 0;
	color: #b53e2e;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 800;
}
h4 {
	line-height: 18px;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 13px;
	margin: 0;
	margin-bottom: 20px;
	font-weight: bold;
	color: #cc9484;
}
p {
	line-height: 18px;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 13px;
	margin-bottom: 20px;
	color: #d4623f;
}
.btn {
	line-height: 20px;
	background: none;
	border-radius: 0;
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	transition: all 0s ease;
}
.btn:hover {
	background: none;
	border-radius: 0;
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	transition: all 0s ease;
}
/*----------- Back to top --------------*/
#toTop {
	display: none;
	width: 56px;
	height: 56px;
	overflow: hidden;
	background: url('../assets/totop.png')/*tpa=http://static.livedemo00.template-help.com/wt_44757/img/totop.png*/0 bottom no-repeat;
	position: fixed;
	margin-right: -690px !important;
	right: 50%;
	bottom: 200px;
	z-index: 999;
}
#toTop:hover {
	background-position: 0 0;
}
#toTop:active, #toTop:focus {
	outline: none;
}
/****************** header *******************/
header {
	position: relative;
	z-index: 2 !important;
	padding: 0;
	background: url('../assets/pattern2.jpg')/*tpa=http://static.livedemo00.template-help.com/wt_44757/img/pattern2.jpg*/repeat-x;
}
.headtop {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	background: url('../assets/pattern1.jpg')/*tpa=http://static.livedemo00.template-help.com/wt_44757/img/pattern1.jpg*/repeat;
}
.headtop .headphone {
	padding: 24px 0;
	word-spacing: 2px;
	text-align: right;
	float: right;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	color: #d4623f;
}
.headtop .headphone .admin_login_link a{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #d4623f;
}
.headtop .headphone strong {
	word-spacing: 0px;
	letter-spacing: 3px;
	font-weight: 800;
	display: block;
	font-size: 28px;
	line-height: 28px;
}
.headmain {
	padding: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #d4623f url('../assets/pattern2.jpg')/*tpa=http://static.livedemo00.template-help.com/wt_44757//pattern2.jpg*/center top repeat-x;
}
/*-------- Logo -------- */
.brand {
	position: relative;
	z-index: 5555;
	margin: 0;
	display: inline-block;
	float: left;
	padding: 21px 0 20px 0;
}
.brand a:hover {
	text-decoration: none;
}
/*-----------------navbar---------------------*/
.navbar_, .navbar_ nav {
	position: relative;
	margin: 0;
}
.navbar_ {
	position: relative;
	padding: 17px 0 19px;
}
.navbar_ .navbar-inner_ {
	padding: 0;
	margin: 0;
	border: none;
	min-height: inherit;
	filter: 'progid:DXImageTransform.Microsoft.gradient(enabled = false)';
}
.nav .sf-menu {
	position: relative;
}
.navbar_ .container {
	position: relative;
}
.nav-collapse_ {
	z-index: 30;
	z-index: 5555;
	margin: 0;
	position: relative;
}
.navbar_ .nav {
	margin: 0;
}
.nav-collapse_ .nav li {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 9999;
	zoom: 1;
}
.nav-collapse_ .nav > li:first-child {
	margin-left: 6px;
	background: none;
}
.nav-collapse_ .nav > li > a {
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 800;
	margin: 0 2px;
	display: block;
	position: relative;
	color: #ff9d4d;
	z-index: 10;
	background: url('../assets/point.png')/*tpa=http://static.livedemo00.template-help.com/wt_44757/img/point.png*/;
	padding: 20px 35px;
	text-shadow: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.nav-collapse_ .nav > li > a span {
	width: 100%;
	height: 0%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
	background: #ff9d4d url('../assets/patternhover.jpg')/*tpa=http://static.livedemo00.template-help.com/wt_44757/img/patternhover.jpg*/center top repeat-x;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.nav-collapse_ .nav > li > a .sf-sub-indicator {
	background: url(../assets/indicator.png)/*tpa=http://static.livedemo00.template-help.com/wt_44757/img/indicator.png*/no-repeat 0 bottom;
	width: 7px;
	height: 5px;
	top: 45px;
	right: 70px;
	position: absolute;
	z-index: 5;
}
.nav-collapse_ .nav > li.active > a, .nav-collapse_ .nav > li.active > a:hover {
	color: #9c232a;
	background: none;
	box-shadow: none;
}
.nav-collapse_ .nav > li > a:hover {
	color: #9c232a;
	background: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.nav-collapse_ .nav > li > a:hover span {
	height: 100%;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.nav-collapse_ .nav > li.sfHover.active > a .sf-sub-indicator, .nav-collapse_ .nav > li.active > a .sf-sub-indicator {
	background-position: 0 0;
}
.nav-collapse_ .nav > li.sfHover.active > a .sf-sub-indicator span, .nav-collapse_ .nav > li.active > a .sf-sub-indicator span {
	height: 100%;
}
.nav-collapse_ .nav > li.sfHover > a, .nav-collapse_ .nav > li.sfHover > a:hover, .nav-collapse_ .nav > li > a:hover, .nav-collapse_ .nav > li.active > a, .nav-collapse_ .nav > li.active > a:hover {
	color: #9c232a;
}
.nav-collapse_ .nav > li.sfHover > a span, .nav-collapse_ .nav > li.sfHover > a:hover span, .nav-collapse_ .nav > li > a:hover span, .nav-collapse_ .nav > li.active > a span, .nav-collapse_ .nav > li.active > a:hover span {
	height: 100%;
}
.sub-menu > a {
	position: relative;
}
.nav-collapse_ .nav ul {
	position: absolute;
	display: none;
	width: 243px;
	left: 2px;
	top: 61px;
	list-style: none;
	zoom: 1;
	z-index: 555;
	background: #ff9d4d;
	padding: 20px 0 25px;
	margin: 0;
	z-index: 9999;
}
.nav-collapse_ .nav ul li:first-child {
	border: none;
	margin: 0;
	padding: 0;
}
.nav-collapse_ .sub-menu li {
	background: none;
}
.nav-collapse_ .nav ul li a {
	display: block;
	color: #9c232a;
	background: none;
	padding: 5px 0 3px 34px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
}
.nav-collapse_ .nav ul li a.last {
	border-bottom: none;
	display: block;
	color: #898989;
	background: none;
	padding: 11px 0 6px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
}
.nav-collapse_ .nav ul li a span {
	color: #f2305a;
	display: block;
	font-size: 10px;
	line-height: 12px;
	text-transform: none;
}
.nav-collapse_ .nav ul ul li a {
	border-bottom: none;
	padding: 3px 0 3px 58px;
	color: #9c232a;
	text-align: left;
}
.nav-collapse_ .nav > li > ul li > a:hover, .nav-collapse_ .nav > li > ul li.sfHover > a {
	text-decoration: none;
	color: #ff9d4d;
	background: #9c232a;
}
.nav-collapse_ .nav > li > ul li > a:hover, .nav-collapse_ .nav > li > ul ul li.sfHover > a {
	text-decoration: none;
	color: #ff9d4d;
	background: #9c232a;
}
.nav-collapse_ .nav ul ul {
	position: relative;
	padding: 0;
	left: 0;
	top: 0;
	width: 243px;
}
.nav-collapse_ .nav ul ul li a:hover {
	color: #9c232a;
	background: #d4623f;
}
.nav-collapse_ .nav ul .sf-sub-indicator {
	background: url(../assets/indicator.png)/*tpa=http://static.livedemo00.template-help.com/wt_44757/img/indicator.png*/no-repeat 0 0;
	width: 7px;
	height: 4px;
	position: relative;
	display: inline-block;
	margin-left: 5px;
	top: -2px;
	z-index: 5;
}
/*-------------------select------------------*/
.select-menu {
	display: none !important;
}
/*------------------head_buttons-------------------*/
.head_buttons {
	list-style: none;
	margin-bottom: 0;
}
.head_buttons > li {
	position: relative;
	z-index: 10;
}
.head_buttons > li > a {
	position: relative;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: left;
	color: #9c232a;
	border: 4px solid #c6523a;
	background: none;
	text-shadow: none;
	box-shadow: none;
	padding: 14px 15px 11px 15px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.head_buttons > li > a:hover {
	position: relative;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	color: #9c232a;
	border: 4px solid #d4623f;
	background-color: #f59049;
	background-image: -moz-linear-gradient(top, #ef8846, #ff9d4d);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef8846), to(#ff9d4d));
	background-image: -webkit-linear-gradient(top, #ef8846, #ff9d4d);
	background-image: -o-linear-gradient(top, #ef8846, #ff9d4d);
	background-image: linear-gradient(to bottom, #ef8846, #ff9d4d);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffef8846', endColorstr='#ffff9d4d', GradientType=0);
	text-shadow: none;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/*------------------------------------------*/
/***************************** header end ***********************************/
/***************** content ****************/
.fman1 {
	position: relative;
}
.man1 {
	position: absolute;
	right: -10px;
	bottom: -241px;
}
.box1 .span5 {
	line-height: 39px;
	font-family: 'Open Sans', sans-serif;
	font-size: 39px;
	font-weight: 800;
	text-transform: uppercase;
	color: #d4623f;
}
.box1 .span7 {
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	color: #d4623f;
}
.box1 .span7 span {
	width: 40%;
	display: block;
}
/**********************box2*************************/
.box2 {
	position: relative;
	list-style: none;
}
.box2 li > div {
	padding: 23px 15px 28px 15px;
	position: relative;
	border: 4px solid #e5ac98;
}
.box2 li > div figure {
	margin: 0 0 7px 0;
}
.box2 li > div span {
	position: relative;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 25px;
	font-weight: 800;
	text-transform: uppercase;
	color: #b53e2e;
	margin-bottom: 16px;
}
.box2 li > div p {
	margin-bottom: 27px;
}
.box2 li > div .last {
	margin-bottom: 11px;
}
.box2 li:hover > div {
	position: relative;
	border: 4px solid #9c232a;
}
.btn-link {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
	color: #b53e2e;
	text-decoration: underline;
}
.btn-link:hover {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
	color: #e5ac98;
	text-decoration: underline;
}
/*------ Carousel1 ------- */
/*------ list_carousel ------- */
.list_carousel {
	padding: 0;
	position: relative;
}
#carousel1 {
	margin: 0;
}
.list_carousel .caroufredsel_wrapper {
	overflow: hidden !important;
	left: 0 !important;
	margin: 0 !important;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	overflow: hidden;
	cursor: default;
}
.list_carousel li {
	margin: 0;
	padding: 0;
	float: left;
	width: 192px;
}
.list_carousel li section {
	position: relative;
	margin: 0 30px 0 0;
}
.list_carousel li section p {
	color: #cc9484;
}
.list_carousel li section:hover .img-polaroid {
	border: 4px solid #9c232a;
}
.list_carousel li .img-polaroid {
	width: 100%;
	height: auto;
	border: 4px solid #e5b4a7;
	box-shadow: none;
	text-shadow: none;
	padding: 0;
	margin: 0 0 15px;
}
.list_carousel li h3 > span {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.list_carousel li a:hover {
	text-decoration: none;
}
#prev, #next {
	position: absolute;
	display: block;
	width: 39px;
	height: 39px;
	top: -55px;
}
#next {
	background: url(../assets/controll.png)/*tpa=http://static.livedemo00.template-help.com/wt_44757/img/controll.png*/no-repeat right bottom;
	left: 537px;
}
#prev {
	background: url(../assets/controll.png)/*tpa=http://static.livedemo00.template-help.com/wt_44757/img/controll.png*/no-repeat 0 0;
	left: 470px;
}
#prev:hover {
	background-position: 0 bottom;
}
#next:hover {
	background-position: right 0;
}
/******************** News ************************/
.news {
	position: relative;
}
.news {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news li:first-child {
	position: relative;
	border-bottom: 1px solid #e9caaf;
	margin: 0;
	padding: 0 0 18px;
}
.news li {
	position: relative;
	border-bottom: none;
	margin-top: 15px;
	padding: 0;
}
.news li h4 {
	margin-bottom: 0;
}
.news li p {
	margin-bottom: 0;
	color: #cc9484;
}
.news li a {
	display: block;
	margin-bottom: 8px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 26px;
	font-weight: 800;
	text-transform: uppercase;
	color: #d4623f;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.news li a:hover {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 26px;
	font-weight: 800;
	text-transform: uppercase;
	color: #9c232a;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/*-------List1-------*/
.list1 {
	position: relative;
	margin: 17px 0 20px 0;
	padding-top: 0;
}
.list1 li {
	display: block;
	list-style: none;
	padding: 0 0 0 14px;
	margin: 0 0 4px 0;
	background: url("../assets/arrow1.png")/*tpa=http://static.livedemo00.template-help.com/wt_44757/img/arrow1.png*/0 7px no-repeat;
}
.list1 li:first-child {
	padding: 0 0 0 14px;
	margin: 0 0 4px 0;
}
.list1 > li {
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	color: #b53e2e;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.list1 > li > a {
	text-decoration: none;
	color: #b53e2e;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.list1 > li > a:hover {
	text-decoration: none;
	color: #cc9484;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
/*------ list-abouts ------- */
.list-about {
	padding-bottom: 32px;
	margin: 0;
	list-style: none;
}
.list-about p {
	color: #cc9484;
	margin-bottom: 0;
}
.list-about .overflow {
	overflow: hidden;
	font-size: 10px;
}
.list-about a {
	text-decoration: none;
	display: inline-block;
	color: #cc9484;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list-about a:hover {
	text-decoration: none;
	color: #9c232a;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list-about h4 {
	margin-bottom: 0;
}
.list-about li {
	overflow: hidden;
	padding-top: 21px;
	margin-top: 21px;
	border-top: 1px solid #e9caaf;
	color: #909090;
}
.list-about li:first-child {
	padding: 0;
	border: none;
	margin: 0;
}
.badge_ {
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: bold;
	font-size: 35px;
	line-height: 36px;
	color: #ffffff;
	width: 51px;
	padding: 8px 0;
	margin-right: 19px;
	background: transparent;
	float: left;
	text-shadow: none;
	white-space: normal;
	background: #9c232a;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-transform: uppercase;
}
/*-------List - 2 - 3 -------*/
.list2 {
	position: relative;
	margin: -4px 0 0 0;
	padding-top: 0;
}
.list3 {
	position: relative;
	margin: -6px 0 0 0;
	padding-top: 0;
}
.list2 li, .list3 li {
	display: block;
	list-style: none;
	padding: 0 0 0 14px;
	margin: 0 0 4px 0;
	background: url("../assets/arrow1.png")/*tpa=http://static.livedemo00.template-help.com/wt_44757/img/arrow1.png*/0 7px no-repeat;
}
.list2 li:first-child, .list3 li:first-child {
	padding: 0 0 0 14px;
	margin: 0 0 4px 0;
}
.list2 > li, .list3 > li {
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	color: #b53e2e;
	margin-top: 10px;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.list2 > li > a, .list3 > li > a {
	text-transform: uppercase;
	text-decoration: none;
	color: #b53e2e;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.list2 > li > a:hover, .list3 > li > a:hover {
	text-decoration: none;
	color: #cc9484;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
h2.projects {
	padding-top: 28px;
}
/*----------- list-thumbnails list-team --------------*/
.thumbnail-1 {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
	overflow: hidden;
}
.thumbnail-1 .img-polaroid {
	border: 4px solid #e5b4a7;
	padding: 0;
	margin: 0 0 16px 0;
}
.list-thumbnails {
	margin: 0;
}
.list-thumbnails li {
	margin-bottom: 14px;
	position: relative;
	list-style: none;
}
.list-team {
	margin: 0 0 0 -30px;
	padding: 0;
}
.list-team li {
	float: left;
	margin: 0 0 25px 30px;
	width: 185px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.list-team li section {
	padding: 0;
}
.list-team li figure {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.list-team li h3 {
	margin-bottom: 6px;
}
.list-team li p {
	line-height: 18px;
	color: #cc9484;
	margin-bottom: 0;
	padding-bottom: 0;
}
/*----------- thumbnails2 --------------*/
.thumbnails2 {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
	margin-bottom: 27px;
	margin-top: -30px;
	list-style: none;
	overflow: hidden;
}
.thumbnails2 h4 {
	margin-bottom: 0;
}
.thumbnails2 h4 a {
	color: #b53e2e;
}
.thumbnails2 h4 a:hover {
	text-color: #b53e2e;
}
.thumbnails2 li {
	margin: 29px 0 0 20px;
	width: 300px;
}
.thumbnails2 .services {
	padding: 15px !important;
	background: #f2cdbc;
}
.thumbnails2 img {
	padding: 0;
	margin: 0 0 13px 0;
}
.thumbnails2 .thumbnail {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
	border: none;
}
.services .caption {
	padding: 0;
}
.services .caption p {
	color: #b53e2e;
}
.thumbnails2 li {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/*-- contacts page --*/
.map {
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.map iframe {
	width: 100%;
	height: 565px;
	border: none;
	margin-bottom: 26px;
}
.address h2 {
	padding-bottom: 23px;
}
address {
	margin: -8px 0 30px;
	line-height: 18px;
}
address > p {
	font-family: 'Trebuchet MS', sans-serif;
	color: #cc9484;
	margin-bottom: 20px;
}
.info > span {
	line-height: 18px;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 13px;
	margin: 0;
	margin-bottom: 18px;
	font-weight: bold;
	color: #cc9484;
}
address .info p:first-child {
	font-family: 'Trebuchet MS', sans-serif;
	color: #cc9484;
	margin-top: 9px;
	margin-bottom: 20px;
}
.info {
	display: inline-block;
}
.padding_top1 {
	padding-top: 31px;
}
.info > p {
	color: #cc9484;
	margin-bottom: 0;
}
.info > p span {
	color: #cc9484;
	width: 85px;
	display: inline-block;
}
.info a {
	color: #b53e2e;
	text-decoration: none;
	font-weight: normal;
	font-family: 'Trebuchet MS', sans-serif;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.info a:hover {
	color: #d4623f;
	text-decoration: none;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.mail {
	text-decoration: none;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	color: #dc1010;
	margin-bottom: 32px;
	display: inline-block;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.mail:hover {
	text-decoration: none;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.mailimg {
	letter-spacing: -1px;
}
/***** contact form *****/
.contact-form {
	position: relative;
	vertical-align: top;
	z-index: 1;
	margin: 0;
	top: -4px;
}
.contact-form .txt-form {
	display: none;
}
.contact-form .coll-1, .contact-form .coll-2, .contact-form .coll-3 {
	float: left;
	width: 180px;
}
.contact-form .coll-1, .contact-form .coll-2 {
	margin-right: 40px;
}
.contact-form fieldset {
	top: 0;
	border: none;
	padding: 0;
	width: 100%;
	position: relative;
	z-index: 10;
}
.contact-form label {
	display: block;
	min-height: 45px;
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}
.contact-form .message {
	display: block;
	width: 100%;
}
.contact-form input {
	padding: 0 16px;
	line-height: 20px;
	margin: 0;
	margin-bottom: 29px !important;
	text-decoration: none;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 13px;
	color: #b53e2e;
	background: #f2cdbc;
	outline: none;
	width: 100%;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	float: left;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contact-form textarea {
	padding: 10px 16px;
	line-height: 20px;
	margin: 0;
	margin-bottom: 2px !important;
	text-decoration: none;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 13px;
	color: #b53e2e;
	background: #f2cdbc;
	outline: none;
	width: 100%;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	float: left;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contact-form input {
	height: 42px;
}
.contact-form input:focus, .contact-form textarea:focus {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: 0 !important;
	color: #b53e2e !important;
	border: 0;
}
.contact-form .area .error {
	float: none;
}
.contact-form textarea {
	width: 100%;
	height: 277px;
	resize: none;
	overflow: auto;
}
.contact-form .success {
	border: 1px solid #d4d4d4;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 14px;
	line-height: 20px;
	background: #fff;
	padding: 12px 0px;
	text-transform: none;
	text-align: center;
	z-index: 20;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contact-form .error, .contact-form .empty {
	color: #b53e2e;
	font-size: 10px;
	line-height: 1.2em;
	display: none;
	text-align: right;
	overflow: hidden;
	width: 100%;
	text-transform: none;
	position: absolute;
	top: 0px;
	right: 0;
}
.contact-form .message .error, .contact-form .message .empty {
	bottom: -1px;
}
.contact-form .buttons-wrapper {
	position: relative;
	margin-top: 0;
}
.contact-form .buttons-wrapper a {
	margin-top: 16px;
	margin-right: 16px;
	padding: 0;
}
.contact-form .buttons-wrapper a:hover {
	text-decoration: none;
}
.contact-form .buttons-wrapper p {
	top: -10px;
	position: relative;
	font-weight: 200;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	color: #d4623f;
	text-transform: uppercase;
}
.buttons-wrapper {
	margin: 0;
	padding: 0;
}
.buttons-wrapper span {
	position: relative;
	top: 9px;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 13px;
	color: #b53e2e;
}
/**************solutions******************/
.solutions h4 {
	color: #cc9484;
	position: relative;
	margin-top: -2px;
	margin-bottom: 18px;
}
.solutions p {
	color: #cc9484;
}
hr {
	position: relative;
	border: none;
	padding: 0;
	margin: 0 0 18px 0;
	height: 1px;
	width: 100%;
	background: #e9caaf;
}
/*------ list-serv -------*/
.list-serv {
	position: relative;
	padding: 0;
	overflow: hidden;
	margin: -20px 0 20px 0;
	list-style: none;
}
.list-serv p {
	margin-bottom: 0;
}
.list-serv .overflow {
	overflow: hidden;
}
.list-serv .overflow h4 {
	margin-top: 3px;
	margin-bottom: 0px;
}
.list-serv .overflow h4 a {
	color: #cc9484;
}
.list-serv .overflow h4 a:hover {
	color: #d4623f;
}
.list-serv a {
	color: #090f15;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list-serv a:hover {
	color: #ffc40d;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list-serv li {
	margin-top: 20px;
	overflow: hidden;
	color: #909090;
}
.list-serv li:first-child {
	padding: 0;
	border: none;
}
.mleft1 {
	margin-left: 8px;
}
.badge_2 {
	position: relative;
	padding: 2px 19px 5px 0;
	font-weight: bold;
	font-size: 46px;
	line-height: 46px;
	color: #090f15;
	width: 48px;
	text-align: left;
	background: transparent;
	float: left;
	text-shadow: none;
	white-space: normal;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-transform: uppercase;
}
/*************policy*************/
.policy h4 {
	margin-bottom: 0;
}
.policy p {
	color: #cc9484;
	margin-bottom: 18px;
}
.policy .link2 {
	text-transform: none;
	font-weight: normal;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 13px;
	color: #b53e2e;
	text-decoration: none;
}
.policy .link2:hover {
	text-transform: none;
	font-weight: normal;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 13px;
	color: #cc9484;
}
/*-- end contacts --*/
/*404 page*/
.block-404 .span7 {
	padding-top: 2px;
	margin-bottom: 20px;
	text-align: center;
}
.block-404 .span7 img {
	margin-left: 0;
}
.block-404 .span4 h2 {
	margin-top: 35px;
}
.block-404 .span4 h2 span {
	font-size: 46px;
}
.block-404 .span4 h4 {
	margin-bottom: 18px;
}
.block-404 .span4 .btn.link1 {
	padding: 9px 15px;
}
.block-404 p {
	margin-bottom: 20px;
	color: #d4623f;
}
.block-404 h2 {
	margin: 0 0 15px 0;
	padding: 0;
	border: none;
}
.form-404 {
	width: 100%;
	margin-top: 10px;
	display: inline-block;
}
.form-404 input {
	height: 38px;
	width: 74%;
	font-family: 'PT Sans', sans-serif;
	padding: 6px 10px 6px 10px;
	line-height: 24px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: none;
	background: #e5bdab;
	border: none;
	color: #d4623f;
	float: left;
}
.form-404 input:focus {
	box-shadow: none;
	border: none;
}
.form-404 a {
	position: relative;
	top: 6px;
	margin: 0 0 0 9px;
}
/**/
/*************** content end **************/
/***************** footer ******************/
footer .span3 {
	float: left;
}
footer .arrows {
	position: relative;
	left: -100px;
	float: right;
}
footer .container {
	padding-top: 25px;
	padding-bottom: 20px;
}
footer .privacytxt {
	text-align: left;
	line-height: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 4px;
	color: #e5b1a2;
}
footer .privacy {
	text-align: left;
	line-height: 20px;
	margin-bottom: 20px;
	color: #e5b1a2;
}
footer .privacy .smallogo {
	margin-bottom: 2px;
}
footer .privacy a {
	line-height: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #e5b1a2;
}
/************** footer end ******************/
/**************** media queries **************/
/*************************************************/
@media (min-width: 1260px) {
	.nav-collapse_ .nav > li > a {
		margin: 0 8px;
		padding: 20px 55px;
	}
	.nav-collapse_ .nav > li > a .sf-sub-indicator {
		right: 89px;
	}
	.nav-collapse_ .nav ul {
		left: 8px;
	}
	.head_buttons > li > a {
		padding: 14px 30px 11px 31px;
	}
	.fman1 {
		position: relative;
		display: block;
	}
	.list-team li {
		width: 236px;
	}
	.contact-form .coll-1, .contact-form .coll-2, .contact-form .coll-3 {
		float: left;
		width: 230px;
	}
}
/*************************************************/
@media (min-width: 1200px) {
	.box1 .span7 span {
		width: 100%;
		display: block;
	}
	.fman1 {
		position: relative;
		display: block;
	}
	.man1 {
		position: absolute;
		right: -10px;
		bottom: -175px;
	}
	.box2 li > div {
		padding: 23px 15px 28px 30px;
	}
	#next {
		top: 290px;
		left: 800px;
	}
	#prev {
		top: 290px;
		left: 761px;
	}
	.thumbnails2 li {
		margin: 30px 0 0 30px;
		width: 370px;
	}
	.contact-form .coll-1, .contact-form .coll-2, .contact-form .coll-3 {
		float: left;
		width: 230px;
	}
	.block-404 .span7 {
		padding-top: 2px;
		margin-bottom: 20px;
		text-align: center;
	}
	.block-404 .span7 img {
		margin-left: 86px;
	}
	.form-404 input {
		width: 84%;
	}
}
/*************************************************/
@media (max-width: 1000px) {
	.nav-collapse_ .nav > li > a {
		margin: 0 2px;
		padding: 15px 25px;
	}
	.nav-collapse_ .nav > li > a .sf-sub-indicator {
		top: 40px;
		right: 59px;
	}
}
/*************************************************/
@media (min-width: 768px) and (max-width: 979px) {
	.thumbnails2 li {
		margin: 29px 0 0 20px;
		width: 228px;
	}
	footer .arrows {
		position: relative;
		left: 0px;
		float: right;
	}
	.fman1 {
		position: relative;
		display: none;
	}
	.nav-collapse_ .nav > li {
		float: left;
	}
	.navbar_ .nav-collapse_ {
		width: auto !important;
		overflow: visible !important;
		height: auto;
		clear: none;
	}
	.box1 .span7 span {
		width: 50%;
		display: block;
	}
	.fman1 {
		display: none;
	}
	.box2 .span3 {
		float: left;
		width: 22%;
		margin-left: 20px;
		margin-bottom: 20px;
	}
	.box2 li > div span {
		font-size: 16px;
	}
	#next {
		top: -55px;
		left: 368px;
	}
	#prev {
		top: -55px;
		left: 310px;
	}
	.list-team li {
		width: 43%;
	}
	.contact-form .coll-1, .contact-form .coll-2, .contact-form .coll-3 {
		float: none;
		width: 100%;
	}
}
/*************************************************/
@media (max-width: 767px) {
	.mleft1 {
		margin-left: 0;
	}
	.thumbnails2 li {
		margin: 29px 0 0 20px;
		width: 47%;
		float: left;
	}
	.thumbnails2 {
		margin-left: -20px;
	}
	footer .arrows {
		position: relative;
		left: 0px;
		width: 100%;
		float: left;
	}
	footer .arrows .span2 {
		width: 25%;
		float: left;
	}
	footer .privacy {
		text-align: left;
	}
	.box2 li > div {
		padding: 23px 20px 28px 15px;
	}
	.select-menu {
		display: block !important;
		color: #ffffff;
		border: 1px solid #ffc40d;
		background: #343434 !important;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		position: relative;
		width: 100%;
		margin: 18px 0 0;
	}
	.select-menu option {
		padding-bottom: 0;
	}
	.head_buttons {
		margin: -30px 0 0 -30px;
	}
	.head_buttons .span3 {
		width: 44%;
		float: left;
		margin: 30px 0 0 30px;
	}
	.box1 .span5 {
		margin-bottom: 20px;
	}
	.box1 .span7 span {
		width: 100%;
		display: block;
	}
	.fman1 {
		display: none;
	}
	.box2 {
		margin-left: -20px;
	}
	.box2 .span3 {
		float: left;
		width: 45%;
		margin-left: 20px;
		margin-bottom: 20px;
	}
	#next {
		top: -55px;
		left: 84%;
	}
	#prev {
		top: -55px;
		left: 75%;
	}
	.list-team li {
		width: 28%;
	}
	.contact-form .coll-1, .contact-form .coll-2, .contact-form .coll-3 {
		width: 100%;
		float: none;
	}
	.contact-form textarea {
		height: 200px;
	}
	.form-404 input {
		width: 90%;
	}
}
/***************************************************/
@media (max-width: 710px) {
	.thumbnails2 li {
		margin: 29px 0 0 20px;
		width: 46%;
		float: left;
	}
	.thumbnails2 {
		margin-left: -20px;
	}
}
/*************************************************/
@media (max-width: 640px) {
	.brand {
		width: 100%;
		display: block;
	}
	.headtop .headphone {
		text-align: left;
		float: left;
		display: block;
	}
	.thumbnails2 li {
		margin: 29px 0 0 20px;
		width: 45%;
		float: left;
	}
	.thumbnails2 {
		margin-left: -20px;
	}
	footer .span2 {
		float: left;
		display: block;
		width: 33%;
	}
	footer .arrows {
		position: relative;
		left: 0px;
		width: 100%;
		float: left;
	}
	footer .arrows .span2 {
		width: 50%;
		float: left;
	}
	.list-team li {
		width: 44%;
	}
	.list-team li figure img {
		width: 100%;
	}
	.form-404 input {
		width: 85%;
	}
}
/*************************************************/
@media (max-width: 620px) {
	#next {
		top: -55px;
		left: 75%;
	}
	#prev {
		top: -55px;
		left: 64%;
	}
}
/*************************************************/
@media (max-width: 540px) {
	.list-team {
		margin-left: 0;
	}
	.list-team li {
		margin: 0 0 20px 0;
		width: 100%;
	}
	.list-team li figure img {
		width: 100%;
	}
	.box2 {
		margin-left: 0px;
	}
	.box2 .span3 {
		float: none;
		width: 100%;
		margin-bottom: 10px;
		margin-left: 0;
	}
	.head_buttons {
		margin: 0;
	}
	.head_buttons .span3 {
		width: 100%;
		float: none;
		margin: 0 0 15px;
	}
	#next {
		top: -55px;
		left: 81%;
	}
	#prev {
		top: -55px;
		left: 67%;
	}
}
/*************************************************/
@media (max-width: 520px) {
}
/*************************************************/
@media (max-width: 455px) {
	.thumbnails2 li {
		margin: 29px 0 0 0px;
		width: 100%;
		float: left;
	}
	.thumbnails2 {
		margin-left: 0px;
	}
	.thumbnails2 img {
		width: 100%;
	}
}
/*************************************************/
@media (max-width: 480px) {
	.form-404 input {
		width: 100%;
	}
	.form-404 a {
		float: right;
		margin-left: 0;
	}
}
/*************************************************/
@media (max-width: 420px) {
	footer .arrows {
		position: relative;
		left: 0px;
		width: 100%;
		float: left;
	}
	footer .arrows .span2 {
		width: 100%;
		float: none;
	}
	#next {
		top: 100px;
		left: 78%;
	}
	#prev {
		top: 100px;
		left: 0;
	}
}
/*Core variables and mixins*/
.clearfix {
	*zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

