<section class="content-header">
	<h1> Add New Data <small>New Solution</small></h1>
	<ol class="breadcrumb">
		<li>
			<a><i class="fa fa-dashboard"></i> Home</a>
		</li>
		<li>
			<%= link_to 'Solutions', solutions_path %>
		</li>
		<li class="active">
			<%= link_to 'Add New', new_solution_path %>
		</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="example-modal">
			<div class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">New Solution</h4>
						</div>
						<%= render 'form' %>
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div><!-- /.example-modal -->
		</div>
</section>