<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<% if current_user.photo.blank? %>
				<img src="/assets/user-photo/no-photo-big.jpg" class="img-circle" alt="User Image">
				<% else %>
				<%= image_tag current_user.photo.url(:pix), :alt => 'User Image', class: 'img-circle' %>
				<% end %>
			</div>
			<div class="pull-left info">
				<p>
					<%= current_user.username %>
				</p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- search form -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
					<button type="submit" name="search" id="search-btn" class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button> </span>
			</div>
		</form>
		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li class="header">
				MAIN NAVIGATION
			</li>
			<li class="active treeview">
				<a href="#"> <i class="fa fa-dashboard"></i> <span>SAMPLE BUSINESS PLAN</span> <i class="fa fa-angle-left pull-right"></i> </a>
				<ul class="treeview-menu">
					<li class="active">
						<a href="/sample_business_plans"><i class="fa fa-circle-o"></i>Business Samples</a>
					</li>
					<li>
						<a href="/sections"><i class="fa fa-circle-o"></i>Sections</a>
					</li>
					<li>
						<a href="/topics"><i class="fa fa-circle-o"></i>Topics</a>
					</li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#"> <i class="fa fa-pie-chart"></i></i> <span>PRODUCTS & SERVICES</span> <i class="fa fa-angle-left pull-right"></i> </a>
				<ul class="treeview-menu">
					<li class="treeview">
						<a href="#"><i class="fa fa-edit"></i></i><span>Development Programme</span> <i class="fa fa-angle-left pull-right"></i> </a>
						<ul class="treeview-menu">
							<li>
								<a href="/entrepreneur_programs"><i class="fa fa-circle-o"></i>Entrepreneur.. Dev.Prog</a>
							</li>
							<li>
								<a href="/outlines"><i class="fa fa-circle-o"></i>Dev. Prog. Outline</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/engineering_mgmts"><i class="fa fa-circle-o"></i>Engineering & Proj. Mgmt.</a>
					</li>
					<li>
						<a href="/design_engineerings"><i class="fa fa-circle-o"></i>Design & Engineering Services</a>
					</li>
					<li>
						<a href="/business_managements"><i class="fa fa-circle-o"></i>Business & Financial Mgmt.</a>
					</li>
					<li>
						<a href="/solar_panels"><i class="fa fa-circle-o"></i>Solar Panel Consulting</a>
					</li>
				</ul>
			</li>
			<li class="treeview">
				<a href="/solutions"> <i class="fa fa-laptop"></i><span>SOLUTIONS & TRAININGS</span></a>
			</li>
			<li class="treeview">
				<a href="#"> <i class="fa fa-table"></i> <span>ABOUT PAGE</span> <i class="fa fa-angle-left pull-right"></i> </a>
				<ul class="treeview-menu">
					<li class="active">
						<a href="/recent_projects"><i class="fa fa-circle-o"></i>Recent Projects</a>
					</li>
					<li class="active">
						<a href="/our_advantages"><i class="fa fa-circle-o"></i>Our Advantages</a>
					</li>
				</ul>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>