<!--============================== footer =================================-->
<footer>
	<div class="container clearfix">
		<div class="row">
			<div class="arrows">
				<div class="span2">
					<ul class="list1 clearfix">
						<li>
							<a href="<%= root_path %>">Home</a>
						</li>
						<li>
							<a href="/about_us/index">About Us</a>
						</li>
						<li>
							<a href="/services/index">Services</a>
						</li>
					</ul>
				</div>
				<div class="span2">
					<ul class="list1 clearfix">
						<li>
							<a href="/offered_solutions/index">Solutions & Training</a>
						</li>
						<li>
							<a href="/contact_us/index">Contact Us</a>
						</li>
						<li>
							<a href="/services/business_plans">Business Plans</a>
						</li>
					</ul>
				</div>
				<div class="span2">
					<ul class="list1 clearfix">
						<li>
							<a href="/services/entrepreneurship">Entrepreneurship</a>
						</li>
						<li>
							<a href="/services/engineering_designs">Engineering Designs</a>
						</li>
						<li>
							<a href="/services/financial_management">Financial Management</a>
						</li>
						
					</ul>
				</div>
				<div class="span2">
					<ul class="list1 clearfix">
						<li>
							<a href="/services/project_management">Project Management</a>
						</li>
						<li>
							<a href="/services/solar_energy_consulting">Solar Energy Consulting</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="span3 privacy">
				<a href="<%= root_path %>" tppabs="http://livedemo00.template-help.com/wt_44757/index.html"><img class="smallogo" alt="Simpatico" src="../assets/business-bottom.png" tppabs="http://livedemo00.template-help.com/wt_44757/img/smalllogo.png"></a>
				<div class="privacytxt">
					<span class="txt-1">&copy; 2016 <!-- {%FOOTER_LINK} -->
				</div>
			</div>
		</div>
	</div>
</footer>