<header>
	<div class="headtop">
		<div class="container">
			<h1 class="brand"><a href="index.html" tppabs="http://livedemo00.template-help.com/wt_44757/index.html"><img alt="Stream" src=" ../assets/logo.png" tppabs="http://livedemo00.template-help.com/wt_44757/img/logo.png"></a></h1>
			<div class="headphone">
				Call us toll free:<strong>1 800 123 1234</strong>
			</div>
		</div>
	</div>
	<div class="headmain">
		<div class="container">
			<div class="clearfix">
				<div class="navbar navbar_ clearfix extra">
					<div class="nav-collapse nav-collapse_  collapse">
						<ul class="nav sf-menu">
							<li class="active">
								<a href="index.html" tppabs="http://livedemo00.template-help.com/wt_44757/index.html">Home<span></span></a>
							</li>
							<li>
								<a href="index-1.html" tppabs="http://livedemo00.template-help.com/wt_44757/index-1.html">about us<span></span></a>
							</li>
							<li>
								<a href="index-2.html" tppabs="http://livedemo00.template-help.com/wt_44757/index-2.html">services<span></span></a>
								<ul>
									<li>
										<a href="#">Implementation</a>
									</li>
									<li>
										<a href="#">SEO Marketing</a>
										<ul>
											<li>
												<a href="#">Sales and marketing</a>
											</li>
											<li>
												<a href="#">IT & e-commerce</a>
											</li>
											<li>
												<a href="#">Exploit your ideas</a>
											</li>
											<li>
												<a href="#">Starting up</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="index-3.html" tppabs="http://livedemo00.template-help.com/wt_44757/index-3.html">solutions<span></span></a>
							</li>
							<li>
								<a href="index-4.html" tppabs="http://livedemo00.template-help.com/wt_44757/index-4.html">contacts<span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>